<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/hairdresser-nav/hairdresser-nav.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/hairdresser-how-to-use">使い方ガイド</a></li>
        <li>
          <a href="/hairdresser-public-profile">公開プロフィール</a>
        </li>
        <li><a href="/hairdresser-info">マッチング情報</a></li>
      </ul>
    </nav>
  </body>
</html>
