.public-profile {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
}

.public-profile h2 {
  margin: 0;
  margin-bottom: 70px;
}

.public-profile p {
  margin: 0;
}

.public-profile input {
  display: block;
}

.public-profile span.span-red {
  color: red;
}

.public-profile .imgupload-component {
  margin-bottom: 20px;
}

.public-profile .imgupload-component p {
  margin-bottom: 15px;
}

.public-profile .imgupload-component form input {
  display: block;
}

.public-profile .imgupload-component form button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}

.public-profile #basic-info .name-component {
  padding: 10px 0;
}

.public-profile #basic-info .name-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile #basic-info .name-component .component p {
  margin-bottom: 15px;
}

.public-profile #basic-info .name-component .component .error_required {
  color: red;
}

.public-profile #basic-info .name-component input {
  width: 250px;
  height: 40px;
}

.public-profile #basic-info .workplace-component {
  padding: 10px 0;
}

.public-profile #basic-info .workplace-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile #basic-info .workplace-component .component p {
  margin-bottom: 15px;
}

.public-profile #basic-info .workplace-component .component .error_required {
  color: red;
}

.public-profile #basic-info .workplace-component input {
  width: 250px;
  height: 40px;
}

.public-profile #basic-info .business-experience-component {
  padding: 10px 0;
}

.public-profile #basic-info .business-experience-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile #basic-info .business-experience-component .component p {
  margin-bottom: 15px;
}

.public-profile #basic-info .business-experience-component .component .error_required {
  color: red;
}

.public-profile #basic-info .business-experience-component input {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.public-profile #basic-info button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}

.public-profile #cut-form .cut-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile #cut-form .cut-component .component p {
  margin-bottom: 15px;
}

.public-profile #cut-form .cut-component .component .error_required {
  color: red;
}

.public-profile #cut-form .cut-component .cut {
  height: 100px;
}

.public-profile #cut-form button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}

.public-profile #introduction-form .introduction-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile #introduction-form .introduction-component .component p {
  margin-bottom: 15px;
}

.public-profile #introduction-form .introduction-component .component .error_required {
  color: red;
}

.public-profile #introduction-form .introduction-component .introduction {
  height: 100px;
}

.public-profile #introduction-form button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}

.public-profile .pref-and-money .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile .pref-and-money .component p {
  margin-bottom: 40px;
}

.public-profile .pref-and-money .component .error_required {
  color: red;
}

.public-profile .pref-and-money table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 30px;
}

.public-profile .pref-and-money td,
.public-profile .pref-and-money th {
  padding: 10px;
}

.public-profile .pref-and-money th {
  color: #fff;
  background: #005ab3;
}

.public-profile .pref-and-money table tr:nth-child(odd) {
  background: #e6f2ff;
}

.public-profile .pref-and-money td {
  border-bottom: 2px solid #80bcff;
}

.public-profile .pref-and-money td form input {
  margin: 0;
  background-color: #225af3;
  color: white;
}

.public-profile .pref-and-money select {
  width: 400px;
}

.public-profile .pref-and-money input {
  display: inline-block;
  margin-top: 30px;
  width: 80px;
  height: 40px;
}

.public-profile .pref-and-money button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}

.public-profile .schedule .schedule-component .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile .schedule .schedule-component .component p {
  margin-bottom: 25px;
}

.public-profile .schedule .schedule-component .component span {
  color: red;
}

.public-profile .schedule .schedule-component table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 30px;
}

.public-profile .schedule .schedule-component td,
.public-profile .schedule .schedule-component th {
  padding: 10px;
}

.public-profile .schedule .schedule-component th {
  color: #fff;
  background: #005ab3;
}

.public-profile .schedule .schedule-component table tr:nth-child(odd) {
  background: #e6f2ff;
}

.public-profile .schedule .schedule-component td {
  border-bottom: 2px solid #80bcff;
}

.public-profile .schedule .schedule-component td form input {
  margin: 0;
  background-color: #225af3;
  color: white;
  width: 80px;
  height: 40px;
}

.public-profile .schedule .schedule-component .select-date {
  margin-bottom: 20px;
}

.public-profile .schedule .schedule-component .select-date #select-year {
  width: 70px;
}

.public-profile .schedule .schedule-component .select-date #select-month {
  width: 70px;
}

.public-profile .schedule .schedule-component .select-date #select-day {
  width: 70px;
}

.public-profile .schedule .schedule-component #select-prev-hour {
  width: 70px;
}

.public-profile .schedule .schedule-component #select-prev-min {
  width: 70px;
}

.public-profile .schedule .schedule-component #select-next-hour {
  width: 70px;
}

.public-profile .schedule .schedule-component #select-next-min {
  width: 70px;
}

.public-profile .schedule .schedule-component span {
  margin: 0 10px;
}

.public-profile .schedule .select-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-profile .schedule .select-time span {
  line-height: 40px;
}

.public-profile .schedule button {
  width: 80px;
  height: 40px;
  background-color: #225af3;
  color: white;
  margin: 25px 0;
}
/*# sourceMappingURL=hairdresser-public-profile.css.map */