$button-color: rgb(34, 90, 243);

.public-profile {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;

  h2 {
    margin: 0;
    margin-bottom: 70px;
  }

  p {
    margin: 0;
  }

  input {
    display: block;
  }

  span.span-red {
    color: red;
  }

  // ------------------------
  //      画像アップロード
  // ------------------------

  .imgupload-component {
    margin-bottom: 20px;

    p {
      margin-bottom: 15px;
    }

    form {
      input {
        display: block;
      }

      button {
        width: 80px;
        height: 40px;
        background-color: $button-color;
        color: white;
        margin: 25px 0;
      }
    }
  }

  // ------------------------
  //         基本情報
  // ------------------------

  #basic-info {
    .name-component {
      padding: 10px 0;

      .component {
        display: flex;

        p {
          margin-bottom: 15px;
        }

        .error_required {
          color: red;
        }
      }

      input {
        width: 250px;
        height: 40px;
      }
    }

    .workplace-component {
      padding: 10px 0;

      .component {
        display: flex;

        p {
          margin-bottom: 15px;
        }

        .error_required {
          color: red;
        }
      }

      input {
        width: 250px;
        height: 40px;
      }
    }

    .business-experience-component {
      padding: 10px 0;

      .component {
        display: flex;

        p {
          margin-bottom: 15px;
        }

        .error_required {
          color: red;
        }
      }

      input {
        display: inline-block;
        width: 40px;
        height: 40px;
      }
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin: 25px 0;
    }
  }

  // ------------------------
  //       得意なカット
  // ------------------------

  #cut-form {
    .cut-component {
      .component {
        display: flex;

        p {
          margin-bottom: 15px;
        }

        .error_required {
          color: red;
        }
      }

      .cut {
        height: 100px;
      }
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin: 25px 0;
    }
  }

  // ------------------------
  //        自己紹介
  // ------------------------

  #introduction-form {
    .introduction-component {
      .component {
        display: flex;

        p {
          margin-bottom: 15px;
        }

        .error_required {
          color: red;
        }
      }

      .introduction {
        height: 100px;
      }
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin: 25px 0;
    }
  }

  // ------------------------
  //     場所と金額の対応表
  // ------------------------

  #pref-and-money {
    .component {
      display: flex;

      p {
        margin-bottom: 40px;
      }

      .error_required {
        color: red;
      }
    }

    table {
      border-collapse: collapse;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    td,
    th {
      padding: 10px;
    }
    th {
      color: #fff;
      background: #005ab3;
    }
    table tr:nth-child(odd) {
      background: #e6f2ff;
    }
    td {
      border-bottom: 2px solid #80bcff;
    }

    select {
      width: 400px;
    }

    input {
      display: inline-block;
      margin-top: 30px;
      width: 80px;
      height: 40px;
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin: 25px 0;
    }
  }

  // ------------------------
  //       スケジュール
  // ------------------------

  #schedule {
    .schedule-component {
      .component {
        display: flex;

        p {
          margin-bottom: 25px;
        }

        span {
          color: red;
        }
      }

      table {
        border-collapse: collapse;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      td,
      th {
        padding: 10px;
      }
      th {
        color: #fff;
        background: #005ab3;
      }
      table tr:nth-child(odd) {
        background: #e6f2ff;
      }
      td {
        border-bottom: 2px solid #80bcff;
      }

      .select-date {
        margin-bottom: 20px;

        #select-year {
          width: 70px;
        }

        #select-month {
          width: 70px;
        }

        #select-day {
          width: 70px;
        }
      }

      #select-prev-hour {
        width: 70px;
      }

      #select-prev-min {
        width: 70px;
      }

      #select-next-hour {
        width: 70px;
      }

      #select-next-min {
        width: 70px;
      }

      span {
        margin: 0 10px;
      }
    }

    .select-time {
      display: flex;

      .select-prev-time {
      }

      span {
        line-height: 40px;
      }

      .select-next-time {
      }
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin: 25px 0;
    }
  }
}
