$button-color: rgb(34, 90, 243);

.login {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;

  .error_msg {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    border: solid red 2px;
  }

  .error_msg:empty {
    height: 0;
    border: none;
  }

  p {
    margin: 0;
  }

  input {
    display: block;
  }

  span {
    color: red;
  }

  form {
    div {
      padding: 10px 0;
    }

    .email-component {
      input {
        width: 250px;
        height: 40px;
      }

      .component {
        display: flex;
      }
    }

    .password-component {
      input {
        width: 250px;
        height: 40px;
      }

      .component {
        display: flex;
      }
    }

    button {
      width: 80px;
      height: 40px;
      background-color: $button-color;
      color: white;
      margin-top: 25px;
    }
  }
}
